.desktop{
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid #999;
 }
 
 .desktop_options{
     display: flex;
     gap: 1rem;
 
 }
 
 
 .mobile{
     border: 1px solid #aaa;
     display: flex;
     justify-content: space-between;
     Height: 4rem;
     align-items: center;
 
     transition: translate.3s;
 }
 
 .options nav{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
 }
 
 .options.open{
     translate: 0;
 }
 
 @media (min-width: 800px) {
     .mobile{
         display: none;
     }
 
     .desktop{
         display: flex;
     }
 
 }